/* .nav {
  position: fixed;
  width: 100vw;
  height: 85px;
  padding: 1rem;
  background: var(--primary-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Quicksand', arial, sans-serif;
  font-size: 1rem;
  transition: all 300ms ease-in-out;
  z-index: 50;
}

#navBar.navShadow {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.navContainer {
  width: 1080px;
  display: flex;
  justify-content: space-between;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul {
  padding: 0;
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav ul li:last-child a {
  padding: .6rem 1.2rem;
  font-size: 1.1rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 5px;
  transition: all .200s ease-in-out;
}

.nav ul li:last-child a:hover {
  background-color: white;
  color: var(--primary-color);
} */