.contentSection {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentContainer {
  height: 100%;
  width: 1080px;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.right h2 {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Quicksand',Arial, Helvetica, sans-serif;
  color: var(--sec-font-color-dark);
}

.right h1 {
  margin: 0;
  text-align: end;
  font-size: 3.5rem;
  color: #333333;
}

.right h1 span {
  color: var(--secondary-color);
}

.btnsContainer {
  margin-top: 1.5rem;
}

.btnsContainer a {
  margin-right: 1rem;
}

.left {
  width: 50%;
}
