/* font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

:root {
  --primary-color: #2f495e;
  --secondary-color: #57d3af;
  --tertiary-color: #f3f3f3;


  --sec-font-color-light: rgb(233, 233, 233);
  --sec-font-color-dark: rgb(73, 73, 73);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
