.card {
  background-color: #f3f3f3;
  display: flex;
  color: #333333;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  transition: all .300s ease-in-out;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.cardContentContainer {
  padding: 1.2rem 1.5rem 1.5rem 1.5rem;
}

.socialIcons {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-bottom: .8rem;
}

.socialIcons a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 50%;
  transition: all .300s ease-in-out;
}

.socialIcons a:hover {
  background-color: var(--primary-color);
}
.socialIcons a i {
  font-size: 1.2rem;
  color: #fff;
}


.cardContentContainer h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.cardContentContainer p {
  margin: .2rem 0 0 0;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  color: var(var(--sec-font-color-dark));
}

